<ul class="nav nav-tabs mt-3 justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link text-secondary"  routerLink="topartists" routerLinkActive="active">Top playlists</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" routerLink="moods" routerLinkActive="active">Mood</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="telugusongs" routerLinkActive="active" (click)=onClickTelugu()>telugu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" routerLink="hindisongs" routerLinkActive="active" (click)=onClickHindi()>hindi</a>
      </li>
   
  </ul>

  <router-outlet></router-outlet>